In [1]:
from tinydb import TinyDB, Query
db = TinyDB('./db/db.json')
User = Query()

In [7]:

db.insert({'name': 'John', 'age': 22})
db.search(User.name == 'John')

[{'name': 'John', 'age': 22}]

In [3]:
db.search((User.name == 'John') & (User.age <= 30))

[{'name': 'John', 'age': 22}]

In [4]:
db.search((User.name == 'John') | (User.name == 'Bob'))

[{'name': 'John', 'age': 22}]

In [5]:
db.search((User.age.map(lambda x: x + x) == 44))

[{'name': 'John', 'age': 22}]

In [17]:
# insert documents

db.insert({'type': 'apple', 'count': 7})
db.insert({'type': 'peach', 'count': 3})


# Iterate over stored documents

for item in db:
    print(item)


# Query documents

Fruit = Query()
db.search(Fruit.type == 'peach')
# [{'count': 3, 'type': 'peach'}]
db.search(Fruit.count > 5)
# [{'count': 7, 'type': 'apple'}]

# Remove documents
db.remove(Fruit.count < 5)

In [ ]:
# drop db
db.truncate()

# Tables

In [11]:
table = db.table('users')
table.insert({'user_id': 1, "username": "Aemilius" })
table.all()

[{'user_id': 1, 'username': 'Aemilius'}]

In [16]:
el = db.get(User.username == 'Aemilius')
el.doc_id

AttributeError: 'NoneType' object has no attribute 'doc_id'

In [ ]:
table = db.table('users')
table.insert({'user_id': 1, "username": "Aemilius" })
table.all()

In [5]:
table = db.table('prompt_templates')
table.insert({"user": "Emile", "name": "Summarize", "text": "Summarize the following text {}"})
table.all()

[{'user_id': 1, 'username': 'Aemilius'},
 {'name': 'Summarize', 'text': 'Summarize the following text \\{\\}'},
 {'name': 'Summarize', 'text': 'Summarize the following text {}'},
 {'user': 'Emile',
  'name': 'Summarize',
  'text': 'Summarize the following text {}'}]

<!-- >>> from tinydb.storages import JSONStorage
>>> from tinydb.middlewares import CachingMiddleware
>>> db = TinyDB('/path/to/db.json', storage=CachingMiddleware(JSONStorage)) -->

In [7]:
table = db.table('prompt_templates')
prompt_template = Query()
table.update({"name": "Summarize", "text": "Summarize the following bva {}"}, prompt_template.user == 'Emile', prompt_template.name == 'Summarize' )
table.all()

TypeError: 'QueryInstance' object is not iterable

In [18]:
# initilize DB
def load_db(db_path: str = './db/db.json'):
    db = TinyDB(db_path)
    return db

def initialize_db(db_path: str = './db/db.json'):
    db = TinyDB(db_path)
    table = db.table('users')
    table.insert({"username": "Aemilius"})
    return True

[{'user_id': 1, 'username': 'Aemilius'}, {'username': 'Aemilius'}]